section.movie-details-header {
  position: relative;

  .backdrop {
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    height: 200px;
    width: 100%;
    top: 0px;
    clip-path: polygon(0 70%, 100% 90%, 100% 100%, 0% 100%);
  }

  .movie-information-row {
    display: flex;
    align-items: flex-end;
    position: relative;
    top: -50px;

    .poster {
      width: 35%;
      box-shadow: 0 0 15px 2px black;
    }



    >div {
      margin-left: 10px;
      width: 100%;

      >div {
        margin-top: 10px;
      }

      .title-row {
        font-size: 18px;
        font-weight: 500;
      }
    }
  }
}