section.movie-details-header {
  .backdrop {
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // position: relative;
  }

  .movie-information-row {
    display: flex;
    align-items: flex-end;
    position: relative;
    top: -50px;

    .poster {
      width: 35%;
      box-shadow: 0 0 15px 2px black;
    }

    > div {
      margin-left: 10px;

      > div {
        margin-top: 10px;
      }

      .title-row {
        font-size: 18px;
        font-weight: 500;
      }
    }
  }
}
