@import "../../../CSS/main.vars.scss";


section.movie-details-header {
  position: relative;

  .movie-information-row {
    display: flex;
    align-items: flex-end;
    position: relative;
    padding-top: 150px;
    // top: -50px;

    .poster {
      width: 35%;
      box-shadow: 0 0 15px 2px black;
    }

    >div {
      margin-left: 10px;
      width: 100%;

      >div {
        margin-top: 10px;
      }

      .title-row {
        font-size: 18px;
        font-weight: 500;
      }
    }
  }
}