@import "../../../css/main.vars.scss";

.form-control {
  margin-top: 25px;
  margin-bottom: 15px;
  color: $lightColor;

  label,
  input,
  textarea {
    display: block;
  }

  input,
  textarea {
    width: 100%;
    margin: 5px 0 5px 0;
    padding: 10px;
    background: none;
    border: none;
    outline: none;
    color: rgb(138, 138, 138);
    border-bottom: 2px solid darken($secondaryColor, 10%);

    &:active,
    &:focus {
      border-color: $secondaryColor;
    }
  }

  &.form-control__invalid label,
  &.form-control__invalid p {
    color: red;
  }

  p {
    margin: 0;
    font-size: 0.8rem;
  }

  &.form-control__invalid input,
  &.form-control__invalid textarea {
    border-color: red;
  }
}