@import "../../main.vars.scss";

.movie-details {
  color: white;

  .backdrop {
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
  }

  .movie-info {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "poster title"
      "content content";

    img.poster {
      position: relative;
      top: -50px;
      height: 200px;
      box-shadow: 0 0 15px 2px black;
    }

    .title-wrapper {
      padding: 1em;

      .title {
        font-size: 1.2em;
        font-weight: bold;
        line-height: 1.2em;
        display: inline-block;
        margin-right: 0.5em;
        margin-bottom: 0.2em;
      }
      .realese {
        display: inline-block;
      }
    }

    .content {
      grid-area: content;
      font-size: 0.8em;
      line-height: 1em;

      .overview {
      }
    }
  }
}
