nav.navbar input[type=search] {
  background: rgba(255, 255, 255, 0.1);
  color: var(--theme-light);
}

nav.navbar input[type=search]::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

nav.navbar .nav-link {
  color: var(--theme-light) !important;
}

nav.navbar .nav-link:hover {
  color: white !important
}


nav.navbar .btn-username>.nav-link {
  /* background: var(--theme-light); */
  /* color: var(--theme-info) !important; */
  font-weight: bold;
  border: 2px var(--theme-light) solid;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 3px;
}