@import "../../CSS/main.vars.scss";

.searchfield {
  background-color: $lightColor;
  color: darken($lightColor, 30%);

  .container {
    display: flex;

    &:hover i:first-child {
      color: black;
    }

    svg {
      margin: auto 0;
      padding-right: 1rem;
    }

    svg:last-child {
      opacity: 0;
      transition: opacity 0.3s;
    }

    input {
      background: transparent;
      border: 0;
      line-height: 2rem;
      width: 100%;
      color: inherit;
      outline: none;

      &:focus~svg:last-child {
        opacity: 100;
      }
    }
  }
}