.backdrop-container {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 675px;
}

.backdrop-container > .backdrop-wrapper {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 1200px;
  height: 675px;
}

.backdrop-container > .backdrop-wrapper > .backdropimage,
.backdrop-container > .backdrop-wrapper > .backdropplaceholder {
  position: absolute;
  width: 100%;
  height: 99.95%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.backdrop-container > .backdrop-wrapper > .backdropmask {
  padding-top: 500px;
  position: relative;
}

.backdrop-container > .backdrop-wrapper > .backdropmask:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 0;
  pointer-events: none;
  width: 1200px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 675px;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      90deg,
      rgba(20, 24, 28, 1) 0%,
      rgba(0, 0, 0, 0) 20% 80%,
      rgba(20, 24, 28, 1) 100%
    ),
    linear-gradient(
      0deg,
      rgba(20, 24, 28, 1) 15%,
      rgba(0, 0, 0, 0) 50% 60%,
      rgba(20, 24, 28, 1) 100%
    );
}
