/* @import url("http://fonts.googleapis.com/css?family=Roboto:400,100"); */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700");

@import "./reset.scss";
@import "./main.vars.scss";

body,
html {
  background-color: $darkerColor;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 90%;
  margin: 0 auto;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .container {
    width: 80%;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .container {
    width: 70%;
  }
}