// $primaryColor: hsla(162, 52, 55, 1);
// $secondaryColor: hsla(36, 100, 61, 1);


$primaryColor: #79f1a4;
$secondaryColor: #0e5cad;
$lightColor: hsla(221, 41, 93, 1);
$darkColor: hsla(200, 44, 34, 1);
$darkerColor: hsla(210, 5, 14, 1);

$mediaM: 768px;
$mediaL: 992px;
$mediaXL: 1200px;



@mixin main-gradient($direction) {
  background: $primaryColor;
  background: linear-gradient($direction, $primaryColor, $secondaryColor);
}