@import "../../../CSS/main.vars.scss";

.movie-details .shortdetails-wrapper {
  padding: 15px 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .__react_component_tooltip {
      display: block;
    }

    .label {
      display: none;
    }

    .release_date {

      .flag-icon {
        margin-right: 5px;
      }

      .note {
        width: 10px;
        height: 1em;
      }
    }
  }
}


// Medium devices (tablets, 768px and up)
@media (min-width: $mediaM) {
  .movie-details .shortdetails-wrapper {
    background: $primaryColor;
    margin: 20px 0;
    color: black;

    .container {
      .__react_component_tooltip {
        display: none;
      }

      .flag-icon {
        line-height: 2em;
        width: 2em;
      }

      .label {
        display: none;
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: $mediaL) {
  .movie-details .shortdetails-wrapper {
    .container {
      .label {
        display: none;
      }
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: $mediaXL) {
  .movie-details .shortdetails-wrapper {
    .container {
      >div {
        display: flex;
        align-items: center;

        .label {
          display: block;
          margin-right: 5px;
        }
      }
    }


  }
}