@import "../../../../CSS/main.vars.scss";

.genre-wrapper {
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;

  >a {
    font-size: 0.5em;
    padding: 5px 10px;
    background: $primaryColor;
    color: darken($primaryColor, 30%);
    border-radius: 12px;
    margin-top: 5px;
    margin-right: 5px;

    &:hover {
      background: darken($primaryColor, 10%);
      cursor: pointer;
    }
  }
}