@import "../../CSS/main.vars.scss";

.login-form {

  .img {
    background: $primaryColor;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 20px;

    svg {
      font-size: 50px;
    }
  }

  .forgot-password {
    font-size: 0.7rem;
    float: right;
  }


}