@import "../../CSS/main.vars.scss";

.signIn {
  margin: 20px;
  display: grid;
  justify-items: center;
  color: white;

  .img {
    background: $primaryColor;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 20px;

    svg {
      font-size: 50px;
    }
  }

  form {
    label {
      font-size: 0.7rem;

      input#username,
      input#password {
        background: none;
        outline: none;
        border: none;
        border-bottom: 1px solid darken($secondaryColor, 30%);
        color: white;
        padding: 10px;
        // background: #ff00002a;
        font-size: 1rem;
        margin-top: 5px;
        margin-bottom: 15px;
        width: 100%;

        &:active,
        &:focus {
          border-bottom: 1px solid $secondaryColor;
        }

        &.not-valid {
          background: #ff000022;
        }

        // &.valid {
        //   border-bottom: 1px solid $secondaryColor;
        // }
      }
    }

    input.submit {
      background: $primaryColor;
      padding: 20px;
      outline: 0;
      border: none;
      width: 100%;
      margin-top: 25px;
      font-size: 1em;
    }

    .forgot-password {
      font-size: 0.7rem;
      float: right;
    }

  }
}